<!doctype html>
{% load static %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <title>moonboard-search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CDN -->

  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">


  <!-- JQuery CDN -->

  <script src="{% static 'moonboard/javascript/jquery-3.4.1.min.js' %}"></script>



  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <script src="{% static 'moonboard/nouislider.js' %}"></script>
  <link href="{% static 'moonboard/nouislider.css' %}" rel="stylesheet" media="screen">


  <link href="{% static 'moonboard/style.css' %}" rel="stylesheet" media="screen">
</head>

<body>
  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">MoonBoard Search Engine</a>
  </nav>

    <div class="container-fluid">
    {% block content %}

    {% endblock %}
    </div>

    {% block footer %}
      <script type="text/javascript" src="{% static 'moonboard/javascript/main.js' %}"></script>
    {% endblock %}
  </body>
  </html>
