{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
    <h4>Clickable moonboard</h4>


        <input type="radio" id="set2016" value="2016" name="setyear" onclick="changeSetYear()">
        <label for="set2016">2016</label>
        <input type="radio" id="set2017" value="2017" name="setyear" onclick="changeSetYear()" checked="checked">
        <label for="set2017">2017</label>
        <input type="radio" id="set2019" value="2019" name="setyear" onclick="changeSetYear()">
        <label for="set2019">2019</label>

<span id="setangle">
    40°
    <label class="switch">
        <input type="checkbox" id="setAngleCheckbox" onclick="changeSetAngle()">
        <span class="slider round"></span>
    </label>
    25°
</span>


        {% include 'searchboard.html' %}

    <!-- <div class="background">
        <img src="mbsetup-2016-min.jpg" alt="Moonboard" />
    </div> -->

    <!-- <div id="messageModal" class="modal">
        <div class="modal-content grey-border" id="messageDiv">
            <p id="message"></p>
            <div id="connect-buttons" style="display: none;">
                <button type="button" onclick="init();">Try Again</button>
            </div>
            <div id="confirm-buttons" style="display: none;">
                <button type="button" onclick="clearMoonboard();">Yes, clear!</button>
                <button type="button" onclick="closeModal();">No, cancel.</button>
            </div>
        </div>
    </div> -->
</div>
<div class="col-md-4 middle-div" style="padding-top:30px">
    {# problem-list section #}
    <div id="replaceable-content" class="list-group-flush" style="height: 80vh; overflow-y: scroll; text-align: left;">
      {% include 'problem-results-partial.html' %}
    </div>
</div>
<div class="col-md-4">
    <h4><div id="replaceable-name" style="padding-top:30px">Selected route</div></h4>

    {% include 'resultboard.html' %}

</div>
</div>
{% endblock %}
