<table class="center">
    <tr style="height: 3.2vw;">
	<th style="width: 2.86vw;"></th>
	<th>A</th>
	<th>B</th>
	<th>C</th>
	<th>D</th>
	<th>E</th>
	<th>F</th>
	<th>G</th>
	<th>H</th>
	<th>I</th>
	<th>J</th>
	<th>K</th>
	<th style="width: 1.3vw;"></th>
    </tr>
    <tr>
	<th>18</th>
	<td><button id="A18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J18" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K18" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>17</th>
	<td><button id="A17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J17" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K17" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>16</th>
	<td><button id="A16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J16" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K16" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>15</th>
	<td><button id="A15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J15" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K15" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>14</th>
	<td><button id="A14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J14" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K14" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>13</th>
	<td><button id="A13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J13" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K13" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>12</th>
	<td><button id="A12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J12" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K12" class="led-button" onclick="toggleButton(this.id)"></button></td>

    </tr>
    <tr>
	<th>11</th>
	<td><button id="A11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J11" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K11" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>10</th>
	<td><button id="A10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J10" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K10" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>9</th>
	<td><button id="A9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J9" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K9" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>8</th>
	<td><button id="A8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J8" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K8" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>7</th>
	<td><button id="A7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J7" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K7" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>6</th>
	<td><button id="A6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J6" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K6" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>5</th>
	<td><button id="A5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J5" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K5" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>4</th>
	<td><button id="A4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J4" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K4" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>3</th>
	<td><button id="A3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J3" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K3" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>2</th>
	<td><button id="A2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J2" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K2" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr>
	<th>1</th>
	<td><button id="A1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="B1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="C1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="D1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="E1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="F1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="G1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="H1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="I1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="J1" class="led-button" onclick="toggleButton(this.id)"></button></td>
	<td><button id="K1" class="led-button" onclick="toggleButton(this.id)"></button></td>
    </tr>
    <tr style="height: 2.3vw"></tr>
</table>
<button class="btn btn-outline-danger" onclick="confirmClear();">Clear Board</button>
